*{
   margin: 0; 
   padding: 0;
   font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 350px;
    height: 500px;
    background-color: #fff;
    border:2px solid #acacac ;
    border-radius: 10px;

}
.card__image{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.card__b{
    color: #fff;
    background-color: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 20px;
    padding: 2px 5px;
    margin-left: 15px;
}
.image2{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 15px;
}
.card__title{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 15px;
}
.card__par{
    margin-left: 15px;
}

.card2{
    width: 350px;
    height: 500px;
    background-color: #fff;
    border:1px solid #acacac ;
    border-radius: 10px;
}
.car__image2{
    height: 200px;
    width: 120px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 15px;
}
.card__b2{
    color: #fff;
    background-color: rgb(31, 31, 141);
    border: 1px solid rgb(31, 31, 141);
    border-radius: 20px;
    padding: 2px 5px;
    margin-left: 15px;

}

.image2__2{
    width: 350px;
    height: 200px;
    margin-bottom: 15px;border-radius: 10px;
}



